<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Employers</title>
	</head>
	<body>
		<header>
			<h1>Employers</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/employers/new">Create a new Employer</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
