<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Create an Employer</title>
	</head>
	<body>
		<header>
			<h1>Create an Employer</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/employers">Employers Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/employers" method="POST">
				<input type="text" name="name" />
			</form>
		</main>
	</body>
</html>
