<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
    <header>
      <% include ../partials/header.ejs %>
		</header>
		<main>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/employers">Back to Employers Index</a>
            </li>
          </ul>
        </nav>
			<form class="form-signin signin-form" action="/employers" method="POST">
        <h2 class="form-signin-heading">Create New Employer</h2>
				<input class="form-control" type="text" name="name" placeholder="Company Name"/>
				<input class="form-control" type="text" name="desc" placeholder="Company Desc"/>
				<input class="form-control" type="text" name="logo" placeholder="Link to company logo"/>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Employer" />
			</form>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
