<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
    <header>
      <% include ../partials/header.ejs %>
		</header>
		<main>
        <h1>Create an Employer</h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/employers">Employers Index</a>
            </li>
          </ul>
        </nav>
			<form action="/employers" method="POST">
				<input type="text" name="name" />
				<input type="submit" value="Create employer">
			</form>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
