<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blockchain Jobs</title>
	</head>
	<body>
		<header>
			<h1>Welcome to the Blockchain Jobs</h1>
			<nav>
				<ul>
					<li>
						<a href="/employers">Employers</a>
					</li>
					<li>
						<a href="/articles">Job listings</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
