<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head.ejs %>
</head>

<div class="wrapper">
<body>

<header>

<% include ./partials/header.ejs %>

</header>

<% if ( messages.success ) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Nice! </strong><%= messages.success %>
</div>
<% } %>
<div class="hero-before">

</div>

<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
            <% if(currentUser) { %>
                Welcome <%=currentUser.username%>!
            <% } else { %>
                Welcome!
            <% } %>
        </h1>
        <p>Bringing you the best in blockchain jobs</p>
        <p><a href="/jobs" class="btn btn-primary btn-large">View Jobs Now »</a></p>
      </div>
    </div>
  </div>
</section>

<section class="main">
<div class="container well">
  <div class="label">
    <h2>Testimonials</h2>
    <h5>These are some of the great things people have to say about us!</h5>
    </div>
    <div class="media-main-page">
      <div class="media-body well thirds">

      <p>"Bacon ipsum dolor amet kielbasa mollit tail frankfurter boudin ground round, in cupidatat chuck. Frankfurter exercitation rump cupim duis ground round hamburger jowl ut. " - <b> John </b></p>
    </div>
      <div class="media-body well thirds">

      <p>"Bacon ipsum dolor amet kielbasa mollit tail frankfurter boudin ground round, in cupidatat chuck. Frankfurter exercitation rump cupim duis ground round hamburger jowl ut. " - <b> John </b></p>
    </div>
      <div class="media-body well thirds">

      <p>"Bacon ipsum dolor amet kielbasa mollit tail frankfurter boudin ground round, in cupidatat chuck. Frankfurter exercitation rump cupim duis ground round hamburger jowl ut." - <b> John </b></p>
    </div>
  </div>
</div>

<div class="container well">
  <div class="label">
    <h2>Featured Job</h2>
  </div>
  <div class="media-main-page">
  <ul class="media-list">
    <li class="media">
      <div class="media-body well">
        <h4 class="media-heading">
          <a href="/jobs/598c96ea6e575548585a518d">Software Engineer</a>
        </h4>
        <div class="blurb">Bacon ipsum dolor amet kielbasa mollit tail frankfurter boudin ground round, in cupidatat chuck. Frankfurter exercitation rump cupim duis ground round hamburger jowl ut. Quis occaecat aliquip, rump boudin laboris bacon deserunt landjaeger meatball cupidatat reprehenderit sed. Biltong non cillum pastrami andouille prosciutto. Leberkas quis culpa, mollit minim reprehenderit rump pancetta adipisicing burgdoggen cupim ad </div>
      </div>
      </li>
      </ul>
    </div>
</div>

<div class="container well">
  <div class="label">
    <h2>Employers</h2></br>
    <h5>Just a few of the employers working with Blockchain Jobs</h5>
  </div>
      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

      <img class = "flex-item" src="https://www.searchenginegenie.com/images/29-samplelogo.jpg" alt="">

</div>

</section>

<%# <section>

  <div id="map"></div>
  <script>

    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: {lat: -28.024, lng: 140.887}
      });

      // Create an array of alphabetical characters used to label the markers.
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = jobcoords
      // { lat: 34.8526, lng: -82.394 },
      // { lat: -31.563910, lng: 147.154312 },
      // {lat: -33.718234, lng: 150.363181}
      //
      // {lat: -33.727111, lng: 150.371124},
      // {lat: -33.848588, lng: 151.209834},
      // {lat: -33.851702, lng: 151.216968},
      // {lat: -34.671264, lng: 150.863657},
      // {lat: -35.304724, lng: 148.662905},
      // {lat: -36.817685, lng: 175.699196},
      // {lat: -36.828611, lng: 175.790222},
      // {lat: -37.750000, lng: 145.116667},
      // {lat: -37.759859, lng: 145.128708},
      // {lat: -37.765015, lng: 145.133858},
      // {lat: -37.770104, lng: 145.143299},
      // {lat: -37.773700, lng: 145.145187},
      // {lat: -37.774785, lng: 145.137978},
      // {lat: -37.819616, lng: 144.968119},
      // {lat: -38.330766, lng: 144.695692},
      // {lat: -39.927193, lng: 175.053218},
      // {lat: -41.330162, lng: 174.865694},
      // {lat: -42.734358, lng: 147.439506},
      // {lat: -42.734358, lng: 147.501315},
      // {lat: -42.735258, lng: 147.438000},
      // {lat: -43.999792, lng: 170.463352}
    // ]
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZntmPlFLucB__BpSBZkGF4h6cZso7JOs&callback=initMap">
  </script>

</section>%>

</div>

<footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
<% include ./partials/scripts.ejs %>
</body>

</html>
