<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
  <header>

  <h1>Blockchain Jobs</h1>
<nav>
  <ul>
    <li><a href="/employers">Employers</li>
    <li><a href="/jobs">Jobs</li>
  </ul>
</nav>

<nav>
  <ul>
      <% if(currentUser) { %>
    <li><a href="/sessions/logout">Log Out</a></li>
      <% } %>
      <% if(!currentUser) { %>
    <li><a href="/sessions/login">Log In</a></li>
      <% } %>
      <% if(!currentUser) { %>
    <li><a href="/sessions/register">Register</a></li>
      <% } %>
  </ul>
</nav>

</header>
<h1>
    <% if(currentUser) { %>
        Welcome <%=currentUser.username%>!
    <% } else { %>
        Welcome!
    <% } %>
</h1>
</body>

</html>
