body {
  background: #90caf9;
  display: block;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin:0 0 -60px;
  padding: 0 0 60px;
}

#map {
        height: 400px;
        width: 100%;
       }

footer {
  background: pink;
  height: 60px;
}

.hero-before{
  position:absolute;
  width: 100%;
  height: 300px;
  background: url('http://i.imgur.com/JO1X8eY.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: -20px;
}

.hero {
   width:100%;
   height:300px;
   /*background-position: center;*/
   color: white;
   align-items: center;
 }

 .hero img {
   opacity: 0.5;
 }

 .hero h1 {
   color:white;
   text-shadow:2px 2px #333;
 }

 .hero .row {
   margin-left: 10%;
   margin-top: 3%;
 }



.main {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background-color: #90caf9;
}

.main .container {
  display: flex;
  flex-wrap: wrap;
  background-color: #42a5f5 ;
  width: 30%;
  /*margin: 20px;*/
  height: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 15px;
}

.container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.label {
  width: 100%;
  align: center;
  color: black;
}
.label h2 {
  margin-bottom: 0px;
}

.flex-item {
background-color: #64b5f6;
border: 1px solid grey;
padding: 5px;
width: auto;
height: auto;
margin: 15px;
/*line-height: 150px;*/
color: white;
font-weight: bold;
font-size: 3em;
text-align: center;
}

.container img {
  height:75px;
  width: 100px;
  margin: 10px;
}

.signin-form {
  /*margin: auto;*/
  display: block;
  box-sizing: border-box;
  width: 400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}
