<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
			<h1>Jobs</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/jobs/new">Create a new Job</a>
					</li>
				</ul>
			</nav>
		</header>
    <main>
      <h2>List of Jobs</h2>
      <ul>
        <% for (let i=0; i<jobs.length; i++){ %>
          <li>
            <a href="/jobs/<%=jobs[i].id%>"><%=jobs[i].title%></a>
          </li>
          <% } %>
      </ul>
    </main>
	</body>
</html>
