<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
      <% include ../partials/header.ejs %>
		</header>
    <main>
      <h1>Jobs</h1>
      <nav>
					</li>
					</li>

          <ul class="breadcrumb">
          <li role="presentation" class="active">
          <a href="/">Home</a>
          <li class="active">
          <li>
          <a href="/jobs">Jobs</a>

            <%# <a href="/jobs/new">Create a new Job</a>%>
          </li>
        </ul>
      </nav>
      <h2>Newest Jobs</h2>
      <ul>
        <% for (let i=0; i<jobs.length; i++){  %>
          <li>%>
            <a href="/jobs/<%=jobs[i].id%>"><%=jobs[i].title%></a>
          </li>
          <% } %>
      </ul>
    </main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
