<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
      <% include ../partials/header.ejs %>
		</header>
    <main class='content'>
      <h1>Jobs</h1>
      <nav>
					</li>
					</li>

          <ul class="breadcrumb">
          <li role="presentation" class="active">
          <a href="/">Home</a>
          <li class="active">
          <a href="/jobs">Jobs</a>
          </li>

            <%# <a href="/jobs/new">Create a new Job</a>%>
        </ul>
      </nav>
      <h2>Newest Jobs</h2>
      <ul class="media-list">
        <% for (let i=0; i<jobs.length; i++){  %>
          <li class="media">
          <div class="media-body well">
          <h4 class="media-heading">
            <a href="/jobs/<%=jobs[i].id%>"><%=jobs[i].title%></a>
            </h4>
            <div class="blurb"><%=jobs[i].body%></div>
          </div>
          </li>
          <% } %>
      </ul>
    </main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
