<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
			<h1>Create a Job</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/jobs">Jobs Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/jobs" method="post">
        <select name="employerId">
          <% for(let i=0; i<employers.length; i++) { %>
            <option value="<%=employers[i].id%>"><%=employers[i].name%></option>
            <% } %>
				<input type="text" name="title" /><br/>
				<textarea name="body"></textarea><br/>
				<input type="submit" value="Publish Job"/>
			</form>
		</main>
	</body>
  <%# scripts%>
  <% include ../partials/scripts.ejs %>
  <%# scripts%>
</html>
