<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
      <% include ../partials/header.ejs %>
		</header>
		<main>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/jobs">Jobs Index</a>
          </li>
        </ul>
      </nav>
			<form class="form-signin signin-form" action="/jobs" method="post">
        <h2 class="form-signin-heading">Create New Job</h2>
        <select class="form-control" name="employerId">
          <% for(let i=0; i<employers.length; i++) { %>
            <option value="<%=employers[i].id%>"><%=employers[i].name%></option>
            <% } %>
          </br>
				<input class="form-control" type="text" name="title" placeholder="Job Title"/>
				<input class="form-control" type="text" name="lat" placeholder="lat"/>
        <input class="form-control" type="text" name="lng" placeholder="long"/>
				<textarea class="form-control" name="body" placeholder="Job Description"></textarea>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Publish Job" />
			</form>
		</main>
	</body>
  <%# scripts%>
  <% include ../partials/scripts.ejs %>
  <%# scripts%>
</html>
