<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
    <body>
      <header>
        <% include ../partials/header.ejs %>
      </header>
      <div class="signin-form">
        <form class="form-signin" action="/sessions/register" method="POST">
          <h2 "form-signin-heading">Create User</h2>
           <input class="form-control" type="text" name="username" placeholder="username">
           <input class="form-control" type="password" name="password" placeholder="password">
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create User">
        </form>
      </div>
    </body>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
</html>
